/*------------------------
	icons
-------------------------*/
@icon-cross: "\ea02";
@icon-phone: "\ea03";
@icon-bars: "\ea04";
@icon-mail: "\ea05";
@icon-zoom: "\ea06";
@icon-whats: "\ea07";
@icon-plane: "\ea08";
@icon-insta: "\ea09";
@icon-download: "\ea0a";

.icon-cross::before {
  content: @icon-cross;
}

.icon-phone::before {
  content: @icon-phone;
}

.icon-bars::before {
  content: @icon-bars;
}

.icon-mail::before {
  content: @icon-mail;
}

.icon-zoom::before {
  content: @icon-zoom;
}

.icon-whats::before {
  content: @icon-whats;
}

.icon-plane::before {
  content: @icon-plane;
}

.icon-insta::before {
  content: @icon-insta;
}

.icon-download::before {
  content: @icon-download;
}

