/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-cross: unicode(ea02);
$icon-phone: unicode(ea03);
$icon-bars: unicode(ea04);
$icon-mail: unicode(ea05);
$icon-zoom: unicode(ea06);
$icon-whats: unicode(ea07);
$icon-plane: unicode(ea08);
$icon-insta: unicode(ea09);
$icon-download: unicode(ea0a);

.icon-cross::before {
  content: $icon-cross;
}

.icon-phone::before {
  content: $icon-phone;
}

.icon-bars::before {
  content: $icon-bars;
}

.icon-mail::before {
  content: $icon-mail;
}

.icon-zoom::before {
  content: $icon-zoom;
}

.icon-whats::before {
  content: $icon-whats;
}

.icon-plane::before {
  content: $icon-plane;
}

.icon-insta::before {
  content: $icon-insta;
}

.icon-download::before {
  content: $icon-download;
}

