// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";


// Your style
@import "variables";
@import "breakpoints";
@import "mixins";
@import "general";
@import "layout";
@import "module";
@import "aos";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* html {
    scroll-behavior: smooth;
    transition: all 0.5s ease-out;

  } */
*{
    transition: all 0.5s ease-out;
}
h1{
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 0.13em;
    @include break-point-down (phablet){
        font-weight: normal;
        font-size: 31px;
    }
    @include break-point-down (mobile){
        font-size: 26px;
    }
}
h2{
    font-weight: normal;
    line-height: 110%;
    @include break-point-down (phablet){
        font-weight: 500;
        font-size: 26px;
    }
    @include break-point-down (mobile){
        font-size: 23px;
    }

}
h3{
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0.13em;
}
h4{
    font-weight: normal;
    line-height: 110%;
    letter-spacing: 0.13em;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}
small{
    font-family: 'Dosis', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 11px;
    line-height: 110%;
    letter-spacing: 0.13em;
}
#loader{
    position: fixed !important;
    z-index: 9000 !important;
    width: 100vw !important;
    height: 100vh !important;
    background: #E8DECD !important;
    transition: all 0s ease-out;
    img{
        top: 50%;
        position: relative;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);      

    }
}
.experiencia360{
    width: 100%;
    height: 170vh;
    background-color: #333333;
    @include break-point-down (tablet){
        /* height: auto; */
        height: 100vh;
    }
    #vrview{
    }
}
.hero-content-header{
    width: 100%;
    height: 95vh;
    background-color: #333333;
    @include break-point-down (phablet){
        /* height: auto; */
        height: 532px;
    }
    #vrview{
    }
}
.montelier-menu{
    *{
        -webkit-transition: all 200ms ease-in-out !important;
        -moz-transition: all 200ms ease-in-out !important;
        -o-transition: all 200ms ease-in-out !important;
        transition: all 200ms ease-in-out !important;
    }
    -webkit-transition: all 200ms ease-in-out !important;
    -moz-transition: all 200ms ease-in-out !important;
    -o-transition: all 200ms ease-in-out !important;
    transition: all 200ms ease-in-out !important;
    .collapsing{
        -webkit-transition: all 200ms ease-in-out !important;
        -moz-transition: all 200ms ease-in-out !important;
        -o-transition: all 200ms ease-in-out !important;
        transition: all 200ms ease-in-out !important;

    }

    z-index: 5;
}
body{
    background: #E8DECD;
}
.btn-top-menu{
    position: fixed;
    top: 32px;
    right: 32px;
    border-radius: 100px !important;
    padding: 16px 11px !important;
    z-index: 10; 

    @include break-point-down(laptop) {
        top: 16px;
        right: 16px;
    }

} 
.img-name{
    max-width: 100%;
    @include break-point-down(mobile) {
        max-width: 350px;
        width: 100%;
    }

}
.montelier-menu .nav-link{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0.13em;
    white-space: nowrap;

    padding-right: 16px !important;
    padding-left: 16px !important;

}
.montelier-menu ul{
    flex-wrap: wrap;
    max-width: 1000px;
    @include break-point-down(phablet){
        margin-bottom: 50vh;
    }
}
.mont-cursive{
    font-family: 'agustine_scriptregular';
    color: #EDE8DD;
    font-size: 200px;

    line-height: 99px;
    padding-bottom: 27px;
    letter-spacing: 0.1px;
    @include break-point-down(phablet){
        font-size: 100px;
    }
}

.hero-content{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-top: 300px;
    padding-left: 36px;
    border-left: 1px solid #77A57D;
    /* margin-left: 100px;
    padding-left: 36px; */
    height: 100vh;
    .hero-header-text{
        max-width: 534px;
        
    }
    @include break-point-down(phablet){
        margin-top: 60vh;
    }

}
.hero-content-first{
    height: 170vh;
    margin-top: 50vh;
    @include break-point-down(phablet){
        margin-top: 40vh;
    }
    @include break-point-down(phablet){
        height: auto;
    }

}
.hero-content-sm{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-top: 150px;
    padding-left: 36px;
    border-left: 1px solid #77A57D;
    /* margin-left: 100px;
    padding-left: 36px; */
    height: 100vh;
    .hero-header-text{
        max-width: 534px;
        
    }
    @include break-point-down(phablet){
        margin-top: 290px;
        height: 50vh;
    }

}

.sidemenu_360{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    ul{
        .sidebar-title{
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 110%;
            letter-spacing: 0.13em;

            transform: rotate(-90deg);
            top: 0;
            position: absolute;
            padding-top: 30px;

            @include break-point-down(phablet) {
                transform: initial;
                position: initial;
                padding-left: 32px;
                padding-top: 0;
            }
        }
        li{
            list-style-type: none;
            .sidebar-link{
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 110%;
                letter-spacing: 0.13em;
                text-decoration: none;
                color: #E8DECD;
                margin-left: 60px;
                padding-left: 0px;
                //padding-right: 100px;
                padding-bottom: 5px !important;

                @include break-point-down(phablet){
                    //padding-right: 50px;
                    margin-left: 32px;
                    padding-left: 0px;
                }
            }
            .sidebar-link:hover{
                border-bottom: solid 1px #E8DECD;
            }
            .active{
                border-bottom: solid 1px #E8DECD;
            }
        }
    }
}
.bg-fade{
    position: absolute;
    width: 716px;
    height: 100vh;
    max-width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 1;
    @include break-point-down(phablet){
        width: 96vw;
    }

    background: linear-gradient(90deg, rgba(17, 17, 17, 0.9) 0%, rgba(17, 17, 17, 0) 100%);
    /* @include break-point-down(phablet){
        width: 100vw;
        height: 35vh;
        background: linear-gradient(180deg, rgba(17, 17, 17, 0.9) 0%, rgba(17, 17, 17, 0) 100%);
    } */

}
.banner-holder{
    height: 678px;
    .text-banner{
        //margin-left: 240px;
        margin-top: 100px;
        margin-bottom: 233px;
        padding-right: 597px;
        padding-left: 20px;
        p{
            max-width: 338px;
        }
        @include break-point-down(phablet){
            margin-top: 80px;
            margin-bottom: 99px;
        }
        @include break-point-down(laptop){
            padding-left: 16px;
            padding-right: 37vw;
        }
        @include break-point-down(tablet){
            padding-right: 16px;
        }
    }
    @include break-point-down(phablet){
        height: auto;
    }
}
.bg-right{
    background-color: rgb(231, 210, 172);
    position: absolute;
    top: 0;
    right: 0 ;
    width: 577px;
    height: 100%;

    /* background-image: url('/assets_front/img/bg-wood.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    @include break-point-down(laptop){
        width: 35vw;
    }


}
.bg-right-leaf{
    background-color: rgb(231, 210, 172);
    position: absolute;
    top: 0;
    right: 0 ;
    width: 577px;
    height: 100%;

    background-image: url('/assets_front/img/bg-leaf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.img-lib{
    overflow-x: auto;
    a{
        text-decoration: none;
    }
    .lib-img-icon{
        width: 349px;
        height: 222px;
        object-fit: cover;
        @include break-point-down(phablet){
            width: 100vw;
            height: 312px;
        }
    
    }
}
#map-sec{
    background-color: #6B8857;
}
#map{
    width: 100%;
    height: 94%;
    position: absolute; 
}
#mapFixed{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    /* height: 94%; */
    top: 0;
    bottom: 0;
    position: absolute; 
}
#mapFixedMob{
    position: absolute;
    bottom: 0;
}
.map-info-holder{
    position: relative;
    z-index: 2;
    max-width: 458px;
    padding-top: 100px;
    padding-bottom: 153px;
    .info-item{
        background: #566F45;
        padding: 16px 20px;
        margin-bottom: 1px;
    }
    @include break-point-down(phablet){
        padding-top: 80px;
        padding-bottom: 110vw;
    }
}
.pratic-holder{
    background: #566F45;
    padding: 40px 60px 50px 60px;
    .pratic-steps{
        .pratic-step{
            h1{
                color: #6B8857;
                margin-top: 33px;
            }
            h3{
            }
        }
    } 
    @include break-point-down(phablet){
        padding: 32px;
    }
}
.btn{
    padding: 16px 24px;
    border-radius: 0;
    font-size: 17px;
    line-height: 110%;
    span{
        position: relative;
        top: -3px;
    }
    i{
        font-size: 22px;
    }
}
.montelier-form{
    .form-group{
        margin-bottom: 0;
    }
    input{
        background-color: transparent;
        color: #E8DECD;
        border-radius: 0;
        border: 1px solid #E8DECD;
        padding: 25px 24px;

        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 110%;

    }
    input:focus{
        background: rgba(232, 222, 205, 0.1);
        color: #E8DECD;
        box-shadow: none !important;
        border: #E8DECD !important;
    }
    input:focus~{
        box-shadow: none !important;
    }
    input::placeholder{
        color: #E8DECD;
        opacity: 0.5;
    }
    .custom-control-label:before{
        border-radius: 0;
        border: 1px solid #E8DECD;
        padding: 8px;
        color: #333333;
        background-color:transparent;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        color: #333333;
        background-color:#E8DECD;
        box-shadow: none !important;
        border: 1px solid #E8DECD !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23333333' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    }
    
}
.link-mont{
    text-decoration: none;
}
.link-mont:hover{
    opacity: 0.7;
}
.img-lib-hover{
    background-color: #333333;
    position: relative;
    .icon-zoom{
        opacity: 0;
        font-size: 51px;
    }
}
.img-lib-hover:hover{
    img{
        opacity: .1;
    }
    .icon-zoom{
        opacity: 1;
    }

}
.modal-dialog-full {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
}
.img-lib-modal{
    /* height: 80vh; */
    height: auto;
    max-height: 80vh;
    //height: auto;
    object-fit: contain;
}
.lib-desc-offset{
    bottom: -60px;
}
.btn-slide{
    border-radius: 100px;
    padding: 30px;
    font-size: 17px;
    @include break-point-down(phablet){
        padding: 24px;
    }
}
.img-carousel-lib{
    @include break-point-down(tablet){
        padding-right: 35px !important;
        padding-left: 35px !important;
    }
}
.btn-slider-left{
    left: -46px;
    ion-icon{
        left: 15px;
        font-size: 28px;
        position: relative;
    }
}
.btn-slider-right{
    right: -46px;
    ion-icon{
        right: 15px;
        font-size: 28px;
        position: relative;
    }
}
.btn-round{
    border-radius: 100px;
}


.footer-qualitare{
    -webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;

    overflow: hidden;
    width: 100px;
}
.footer-qualitare:hover{
    width: 160px;
}
.descubra-mais-holder{
    position: absolute;
    width: 100%;
    bottom: 5px;
    z-index: 0;
    img{
        top: -10px;
        position: absolute;
        z-index: -1;
    }
    small{
        /* padding: 18px 7px; */
        margin-left: 18px;
    }

}
.navbar-nav{
    padding-right: 170;
    @include break-point-down(phablet){
        padding-right: 0;

    }
}
.btn-filter-group{
    flex-wrap: wrap;
}
.iframe-hide{
    /* width: 150vw !important;
    left: -25vw !important; */
    width: 100vw !important;
    height: 111vh !important;
    
    position: relative !important;
    @include break-point-down(phablet){
        /* width: 170vw !important;
        left: -35vw !important; */

        width: 105vw !important;

    
    }
}
.modal-backdrop.show {
    opacity: 0.9;
}

.snap-scroll {
    scroll-snap-type: x mandatory;
}

.snap {
    scroll-snap-align: start;
}
#exp360{
    width: 100vw;
    .bg-fade{
        height: 170vh;
        @include break-point-down(phablet){
            height: 100vh;
        }
    
    }
    .img-hero-scroll{
        width: 100vw;
        overflow: scroll;
        img{
            min-width: 100vw;
            object-fit: cover;
            height: 100%;
        }

    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .img-hero-scroll::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .img-hero-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  
}
#hero-regiao{
    width: 100vw;
    .img-hero-scroll{
        width: 100vw;
        overflow: scroll;
        img{
            min-width: 100vw;
            object-fit: cover;
        }

    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .img-hero-scroll::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .img-hero-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
#hero-loteamento{
    width: 100vw;
    .img-hero-scroll{
        width: 100vw;
        overflow: scroll;
        img{
            min-width: 100vw;
            object-fit: cover;
        }
        
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .img-hero-scroll::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .img-hero-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
#hero-chales{
    width: 100vw;
    .img-hero-scroll{
        width: 100vw;
        overflow: scroll;
        img{
            min-width: 100vw;
            object-fit: cover;
        }
        
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .img-hero-scroll::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .img-hero-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
#bg-hero{
    height: 100vh;
}
.px-16{
    padding-right: 16px;
    padding-left: 16px;
}
.mont-box{
    overflow: hidden;
    z-index: 4;
    padding: 50px;
    background: #EDE8DD;
    box-shadow: 0px 10px 62px rgba(0, 0, 0, 0.18), 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    h3{
        font-family: 'Dosis', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        font-weight: 200;
        font-size: 38px;
        line-height: 110%;
        /* identical to box height, or 42px */

        letter-spacing: 0.13em;
        color: #333333;
    }
    h4{
        font-family: 'Dosis', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 110%;
        /* identical to box height, or 31px */

        letter-spacing: 0.13em;
        text-transform: uppercase;
    }
    p{
        font-weight: 300;
    }

    @include break-point-down(phablet){
        padding: 32px;
        h3{
            font-style: normal;
            font-weight: 200;
            font-size: 30px;
        }
    
    }

}
.mont-box-green{
    background: #415A3B;
    h3{
        color: #EDE8DD;
    }
    h4{
        color: #EDE8DD;
    }
    p{
        color: #EDE8DD;
    }

}
#sobre{
    margin-top: 100px;
    .mont-box{
        position: absolute;
        top: 0;
        right: 0;
        max-width: 699px;
        @include break-point-down(tablet){
    
            position: relative;
            margin-bottom: 32px;
            max-width: 95%;

        }
    }
    @include break-point-down(tablet){
        margin-top: 32px;
        border-left: 1px solid #77A57D;
    }
}
#regiao-about{
    padding-top: 100px;
    .mont-box{
        position: absolute;
        right: 0;
        max-width: 699px;
        @include break-point-down(tablet){
    
            position: relative;
            margin-bottom: 32px;
            max-width: 95%;
            top: 0;

        }

    }
    @include break-point-down(tablet){
        border-left: 1px solid #77A57D;
        padding-top: 32px;

    }

}
.mont-collapse{
    .img-list-bg{
        min-height: 500px;
        object-fit: cover;
    }
    .mont-box{
        max-width: 407px;
        position: absolute;
        top: 50%;
        left: -10%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);      
    }

    .collapse{
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);      
    }

    @include break-point-down(desktop){
        .img-list-bg{
            min-height: 370px;
        }
    
        .mont-box{
            padding: 32px;
            max-width: 277px;
        }
        button{
            font-size: 26px !important;
            max-width: 90%;
        }
    }
    @include break-point-down(tablet){
        .img-list-bg{
            min-height: initial;
            object-fit: cover;
            max-height: 278px;

        }
        .mont-box{
            max-width: 100%;
            width: 100%;
            position: relative;
            top: 0;
            left: initial;
            -ms-transform: translateY(0);
            transform: translateY(0);      
        }
        .collapse{
            -ms-transform: translateY(0);
            transform: translateY(0);      
        }
    }
}
#about-list{
    .mont-collapse{
        .list-data{
            img{
                padding-left: 20%;
                min-height: 500px;
            }
            /* #c-kids{
                img{
                    padding-right: 20%;
                    padding-left: 0;
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);                  
                }
            } */
        }
        @include break-point-down(tablet){
            .list-data{
                img{
                    padding-left: 0;
                    min-height: 0px;
                }
                /* #c-kids{
                    img{
                        padding-right: 0;
                        padding-left: 0;
                    }
                } */
    
            }     
        }
    }
}

.list-spacing{
    padding-top: 250px;
    padding-bottom: 300px;
    @include break-point-down(tablet){
        padding-top: 70px;
        padding-bottom: 100px;
    }
}
.btn-underline{
    color: #333333;
    font-family: 'Dosis', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 110%;
    /* identical to box height, or 31px */
    box-shadow: none !important;

    letter-spacing: 0.13em;
    text-transform: uppercase;

    border-bottom: 1px solid #77A57D;
    padding: 24px 0px;
    text-align: left;
    
}

#regiao-list{
    .img-list-bg{
        width: 80%;
        @include break-point-down(tablet){
            width: 100%;

        }

    }

    .mont-box{
        background: #415A3B;
        padding:0;

        position: absolute;
        top: 0;
        left: -10%;
        -ms-transform: translateY(0);
        transform: translateY(0);      
        .img-map{
            min-height: 0 !important;
            object-fit: cover;
            max-height: 333px !important;
        }
        h4{
            color: #EDE8DD;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 40px;
        }
        p{
            color: #EDE8DD;
            padding: 40px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
        }
        @include break-point-down(tablet){
            position: relative;
            left: initial;
        }
        @include break-point-down(desktop){
            p{
                padding: 32px;

            }
            h4{
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 32px;
    
            }

        }
    }

    .btn-underline{
        color: #77A57D;
        font-family: 'Dosis', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 110%;
        /* identical to box height, or 31px */
        box-shadow: none !important;

        letter-spacing: 0.13em;
        text-transform: uppercase;

        border-bottom: 1px solid #77A57D;
        padding: 24px 0px;
        text-align: left;
        
    }
    .collapsed{
        color: #EDE8DD;
        border-bottom: 1px solid #415A3B;
    }
}
.bg-dark-green{
    background-color: #344630;
}
.pt-250{

    padding-top: 250px;
}
.pb-300{
    padding-bottom: 300px;
}
.border-left-line{
    @include break-point-down(tablet){
        border-left: 1px solid #77A57D;
    }
}
.info-map-container{
    margin-top: 100px;
    @include break-point-down(tablet){
        margin-top: 32px;
    }
    .mont-box{
        max-width: 517px;
        position: absolute;
        top: 0px;
        .info-map{
            position: absolute;
            bottom: -120px;
        }

        @include break-point-down(tablet){
            position: relative;
            max-width: 95%;
            margin-left: auto;

            .info-map{
                position: relative;
                bottom: 0;

            }    
        }

    }
    
}
.map-full{
    margin-top: 15px;
}
.map-full-detail{
    width: 100%;

}
.map-point-point{
    /* .vl{
        height: 0;
        position: absolute;
        z-index: 19;
        margin-left: 50%;
        transform: translateX(-50%);
        .vll{
            display: none;
            background: #FFF;
            width: 3px;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
        }
    } */
    transition: all 0.5s ease-in-out;

    border: solid 3px #EDE8DD;
    border-radius: 50px;
    background: #FF6B00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, 0);
    width: 23px;
    height: 23px;

    z-index: 20;
    /* overflow: hidden; */

    p{
        white-space: nowrap;
        display: none;
        opacity: 0;
        margin: 0;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        cursor: default;
        position: absolute;
        transform: translate(-50%, -50px);
        padding: 8px 16px;
        background: #344630;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 16px rgba(0, 0, 0, 0.2);
        animation-duration: 0.3s !important;
    }

}
.map-point-point:hover{
/*     .vl{
        height: 30px;
        .vll{
            display: block;
        }
    }
    transform: translate(-50%, -30px);
 */
    /* width: initial;
    height: initial; */
    z-index: 21;
    p{
        display: inline;
        opacity: 1;
    }

}
.project-header{
    background-size: cover; 
    h2{
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 70px;
        letter-spacing: 0.13em;

        font-style: normal;
        font-weight: 300;
    }
}
.user-pic{
    img{
        width: 100%;
        min-width: 262px;
    }
    @include break-point-down(phablet){
        img{
            max-width: 30% !important;
            min-width: 0;

        } 
        border-bottom: 2px solid #77A57D;
        h3{
            font-size: 30px !important;
        }
    
    }

    h3{
        align-self: flex-end;
        padding-left: 24px;
        margin-bottom: 0;
    }
}
.user-content-info{
    margin-top: 24px;
    margin-left: 30px;
    @include break-point-down(phablet){
        margin-top: 16px;
        margin-left: 0;
    }
}
.user-content-holder{
    border-top: 2px solid #77A57D;
    @include break-point-down(phablet){
        border-top: 0px solid #77A57D;

    }
    margin-bottom: 50px;
    h3{
        font-style: normal;
        font-weight: 200;
        font-size: 38px;
        line-height: 110%;
        letter-spacing: 0.13em;

    }

}
#project{
    margin-bottom: 100px;
}
.promo-holder{
    margin-top: 100px;
    .main-img{
        width: 80%;
        filter: drop-shadow(0px 10px 62px rgba(0, 0, 0, 0.18)) drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
        @include break-point-down(tablet){
            width: 100%;
        }
    }
    .main-img-blur{
        width: 80%;
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 26.57%);
        top: 0;
        bottom: 0;
        @include break-point-down(tablet){
            width: 100%;
        }

    }
    .main-img-blur-right{
        width: 80%;
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 26.57%);
        top: 0;
        bottom: 0;
        right: 0;
        @include break-point-down(tablet){
            width: 100%;
        }
    }
    .mont-box{
        position: absolute;
        bottom: 100px;
        max-width: 517px;
        padding: 0;
        padding-top: 50px;
        @include break-point-down(tablet){
            position: relative !important;
            max-width: 95%;
            margin-left: auto;
            bottom: 50px;
        }
        .chales-spacing-box{
            padding: 50px;
            padding-top: 30px;
        }
    }
    .mont-box-left{
        left: 0;
    }
    .mont-box-right{
        right: 0;

    }
    .img-rb{
        position: absolute;
        bottom: 70px;
        right: 13%;
        max-width: 27%;
        -ms-transform: translateY(100%);
        transform: translateY(100%);      
        filter: drop-shadow(0px 10px 62px rgba(0, 0, 0, 0.18)) drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
        @include break-point-down(tablet){
            position: relative;
            max-width: 70%;
            -ms-transform: translateY(0);
            transform: translateY(0);      
            bottom: 0;
            right: 0;
            top: -90px;
        }

    }
    .img-b{
        position: absolute;
        bottom: 70px;
        right: 600px;
        max-width: 37%;
        -ms-transform: translateY(100%);
        transform: translateY(100%);  
        filter: drop-shadow(0px 10px 62px rgba(0, 0, 0, 0.18)) drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
        @include break-point-down(tablet){
            position: absolute;
            max-width: 60%;
            -ms-transform: translateY(20%);
            transform: translateY(20%);
            bottom: 0;
            right: 0;
        }

    }
    .img-lb{
        position: absolute;
        bottom: 70px;
        left: 13%;
        max-width: 27%;
        -ms-transform: translateY(100%);
        transform: translateY(100%);      
        filter: drop-shadow(0px 10px 62px rgba(0, 0, 0, 0.18)) drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
        @include break-point-down(tablet){
            position: relative;
            max-width: 70%;
            -ms-transform: translateY(0);
            transform: translateY(0);      
            bottom: 0;
            left: 0;
            top: -90px;

        }

    }
    .img-b-2{
        position: absolute;
        bottom: 70px;
        left: 42%;
        max-width: 37%;
        -ms-transform: translateY(100%);
        transform: translateY(100%);  

        filter: drop-shadow(0px 10px 62px rgba(0, 0, 0, 0.18)) drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
        @include break-point-down(tablet){
            position: absolute;
            max-width: 60%;
            -ms-transform: translateY(0%);
            transform: translateY(0%);
            bottom: 0;
            left: initial;
            right: 0;

        }

    }
}
.chales-promo{
    margin-bottom: 30%;
}
.mt-250{
    margin-top: 250px;
}
.mb-250{
    margin-bottom: 250px;
}
.list-data{
    position: relative;
    .collapse{
        position: absolute;
        z-index: 5 !important;
    }

    @include break-point-down(tablet){
        .collapse{
            position: relative;
        }
    }

}
#scrollable{
    scroll-behavior: smooth !important;
    transition: all 0.8s cubic-bezier(0.95, -0.03, 1, 1) !important;
}
#regiao-list{
    .collapsing {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        
    }
}

#about-list{
    .collapsed{
        border-bottom: 1px solid #EDE8DD;
    }
    
    .collapsing {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.img-hero-scroll{
    img{
        transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1) !important;
    }

}
.logo-footer{
    margin-top: 32px;
    margin-bottom: 250px;
    @include break-point-down(tablet){
        margin-top: 0px;
        margin-bottom: 80px;
    }

}
.box-img-logo{
    max-width: 300px;
}

@include break-point-down(phablet){
    #contact{
        margin-bottom: 0;
    }
    .chales-promo{
        .mont-box{
            h3{
                font-weight: 300;
                font-size: 30px;
                line-height: 110%;
            }
            .box-img-logo{
                max-width: 250px;
            }
        }
    }
}
#lofts-logo{
    max-height: 140px;
}
.btn-outline-dark:hover{
    color: #E8DECD !important;
}
/* nav{
    *{
        -webkit-transition: none !important;
        -o-transition: none !important;

        transition: none !important;

    }
    .collapsing{
        -webkit-transition: none !important;
        -o-transition: none !important;

        transition: none !important;

    }
} */
.heroBtnChales{
    .normalImg{
        display: inline;
    }
    .hoverImg{
        display: none;
    }
}
.heroBtnChales:hover{
    .normalImg{
        display: none;
    }
    .hoverImg{
        display: inline;
    }
}