/*--------------------------------

mont Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'mont';
  src: url('../../fonts/mont.eot');
  src: url('../../fonts/mont.eot') format('embedded-opentype'), url('../../fonts/mont.woff2') format('woff2'), url('../../fonts/mont.woff') format('woff'), url('../../fonts/mont.ttf') format('truetype'), url('../../fonts/mont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #333333;
  background: white;
}

a {
  color: #608CEE;
  text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */
header {
  text-align: center;
  padding: 80px 0 48px;
}

header h1 {
  font-size: 2.8rem;
}

header p {
  font-size: 1.4rem;
  margin-top: 1em;
}

header a:hover {
  text-decoration: underline;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
  border-radius: .25em;
  transition: background 0.2s;
  user-select: none;
  overflow: hidden;
  text-align: center;
  padding: 1em;
}

ul li:hover {
  background: #f8f8f8;
}

ul p, ul em, ul input {
  display: block;
  font-size: 1.1rem;
  color: rgba(0,0,0,0.6);
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 11rem;
}

ul p {
  padding: 10px 0;
}

ul p::selection, ul em::selection {
  background: #608CEE;
  color: #fff;
}

ul p::-moz-selection, ul em::-moz-selection {
  background: #608CEE;
  color: #fff;
}

ul em {
  margin-bottom: 8px;
}

ul em::before {
  content: '[';
}
ul em::after {
  content: ']';
}

ul input {
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

/* --------------------------------

icons

-------------------------------- */
.icon {
  display: inline-block;
  font: normal normal normal 32px/1 'mont';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  font icons
-------------------------*/

.icon-cross::before {
    content: "\ea02";
}

.icon-phone::before {
    content: "\ea03";
}

.icon-bars::before {
    content: "\ea04";
}

.icon-mail::before {
    content: "\ea05";
}

.icon-zoom::before {
    content: "\ea06";
}

.icon-whats::before {
    content: "\ea07";
}

.icon-plane::before {
    content: "\ea08";
}

.icon-insta::before {
    content: "\ea09";
}

.icon-download::before {
    content: "\ea0a";
}

